{% extends "base.html" %}

{% block head %}
    <title>AInvestors - Trading Strategy Input</title>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@400;700&display=swap" rel="stylesheet">
    <script>
        function disableButton() {
            document.getElementById("addStrategyBtn").disabled = true;
        }
    </script>
{% endblock %}

{% block body %}
<ul 
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/pricing">Pricing</a></li>
    <li><a href="/model">Model</a></li>
</ul>
{% endblock %}