{% extends "base.html" %}

{% block head %}
    <title>AInvestors - Trading Strategy Input</title>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<ul 
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/pricing">Pricing</a></li>
    <li><a href="/model">Model</a></li>
</ul>
<div class="content">
    <p>Welcome to AInvestors, a platform built for traders eager to level-up their strategies.<br>
        This platform takes your strategy as an input in text format<br>
        and uses machine learning to classify it into a trading strategy class.<br>
        Then it uses the strategy it identified plus some custom parameters<br>
        to backtest itself such that you can see the historical results of<br>
        your strategy if you were to implement it now!<br>
    </p>
</div>
{% endblock %}