{% extends "base.html" %}

{% block head %}
    <title>AInvestors - Trading Strategy Input</title>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="title">AInvestors</h1>
    <h2 class="subtitle">Enter your trading strategy</h2>

    <div class="form">
        <form action="/" method="POST">
            <textarea name="strategy" id="strategy" placeholder="Enter strategy here" rows="5" required></textarea>
            <input type="submit" value="Add Strategy">
        </form>
    </div>

    {% if metrics %}
        <h2 class="subtitle">Strategy Metrics:</h2>
        <textarea readonly rows="10">{{ metrics }}</textarea>
    {% endif %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <h2>Data:</h2>
    {{ strat }}
</div>
{% endblock %}
