{% extends "base.html" %}

{% block head %}
    <title>AInvestors - Trading Strategy Input</title>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@400;700&display=swap" rel="stylesheet">
    <script>
        function disableButton() {
            document.getElementById("addStrategyBtn").disabled = true;
        }
    </script>
{% endblock %}

{% block body %}
<ul 
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/pricing">Pricing</a></li>
    <li><a href="/model">Model</a></li>
</ul>
<div class="content">
    <h1 class="title">AInvestors</h1>
    {% if not params and not metrics %}
        <h2 class="subtitle">Enter your trading strategy</h2>

        <div class="form">
            <form action="/" method="POST" onsubmit="disableButton()">
                <textarea name="strategy" id="strategy" placeholder="Enter strategy here" rows="5" cols="40" required></textarea>
                <input type="submit" value="Add Strategy" id="addStrategyBtn">
            </form>
        </div>
    {% endif %}

    {% if params %}
        <h2 class="subtitle">Strategy Parameters</h2>
        <form action="/" method="POST">
            {% for param in params %}
                <label>{{ param }}</label>
                <input type="text" name="{{ param.replace(' ', '_').replace(':', '') }}" required><br><br>
            {% endfor %}
            <input type="hidden" name="strat" value="{{ strat }}">
            <input type="hidden" name="strat_type" value="{{ strat_type }}">
            <input type="submit" name="param_submit" value="Run Strategy">
        </form>
    {% endif %}
    
    {% if metrics %}
        <h2 class="subtitle">Strategy Metrics</h2>
        <textarea readonly rows="20" cols="80">{{ metrics }}</textarea>
    {% endif %}


    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

</div>
{% endblock %}