{% extends "base.html" %}

{% block head %}
    <title>AInvestors - Trading Strategy Input</title>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:wght@400;700&display=swap" rel="stylesheet">
    <script>
        function showLoader() {
            document.getElementById("addStrategyBtn").disabled = true;
            document.getElementById("loader").style.display = "block";
            document.getElementById("strategyForm").style.display = "none";
        }
    </script>
{% endblock %}

{% block body %}
<div class="topnav">
    <a href="/">Home</a></li>
    <a href="/about">About</a></li>
    <a href="/pricing">Pricing</a></li>
    <a href="/model">Model</a></li>
    ><a href="/signup">Login</a></li>
</div>
<div class="content">
    <h1 class="title">AInvestors</h1>
    {% if not login %}
        <h2 class="subtitle">Please login or signup before using our model!</h2>
    {% endif %}
    {% if not metrics and login %}
        <h2 class="subtitle">Enter your trading strategy</h2>

        <div class="form" id="strategyForm">
            <form action="/model" method="POST" onsubmit="showLoader()">
                <textarea name="strategy" id="strategy" placeholder="Enter strategy here" rows="5" cols="50" required></textarea>
                <div class="button-container">
                    <input type="submit" value="Add Strategy" id="addStrategyBtn">
                </div>
            </form>
            <div class="content">
                <p>Notes: <br>
                1. You may be as specific as you would like; however, specificity can increase the accuracy of results.<br>
                2. You can specify the assets the model should backtest with as well as the metrics it should output.</p>
            </div>
        </div>

        <div id="loader" class="loader" style="display: none;"></div>
    {% endif %}
    {% if metrics %}
        <h2 class="subtitle">Strategy Metrics</h2>
        <textarea readonly rows="20" cols="80">{{ metrics }}</textarea>
    {% endif %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}

