{% extends "base.html" %}

{% block head %}
    <title>AInvestors - Trading Strategy Input</title>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="topnav">
    <a href="/">Home</a></li>
    <a href="/about">About</a></li>
    <a href="/pricing">Pricing</a></li>
    <a href="/model">Model</a></li>
    ><a href="/signup">Login</a></li>
</div>
<div class="content">
    <img src="logo.jpg" alt="Company Logo">
    <h1 class="title">AInvestors</h1>
    {% if name %}
    <h2 class="title">Welcome {{name}}!</h2>
    {% endif %}
    <p>Welcome to AInvestors, a platform built for traders eager to level-up their strategies.
        This platform takes your strategy as an input in text format
        and uses machine learning to classify it into a trading strategy class.
        Then it uses the strategy it identified plus some custom parameters
        to backtest itself such that you can see the historical results of
        your strategy if you were to implement it now!
    </p>
</div>
{% endblock %}